.intro {
  position: relative;
  padding-bottom: 40px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/intro-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    background-color: $background-image-color;
    z-index: -1;
    height: 235px;
    top: 0;
    left: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-back-mobile@2x.jpg");
      background-size: cover;
    }
  }
}

.intro__title {
  text-align: center;
  width: 100%;
  max-width: 320px;
  padding: 81px 30px 82px 30px;
  color: $main-color;
  margin: 0 auto 20px auto;
}

.intro__text {
  @include margin-reset;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.47px;
  margin-bottom: 20px;
}

.intro__link {
  position: relative;
  display: block;
  padding: 19px 40px;
  text-align: left;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    background-size: 100% 100%;
    background-image: url("../img/icon-arrow-down.svg");
    background-position: center center;
    display: block;
    width: 17px;
    height: 17px;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (min-width: $tablet-width) {
  .intro {
    min-height: 384px;

    &::before {
      background-image: url("../img/intro-back-tablet@1x.jpg");
      height: 344px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/intro-back-tablet@2x.jpg");
      }
    }
  }

  .intro__title {
    line-height: 45px;
    padding-top: 60px;
    padding-bottom: 15px;
    margin-bottom: 0;
    max-width: none;
  }

  .intro__text {
    color: $main-color;
    width: 398px;
    margin: 0 auto 10px auto;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    min-height: 860px;
    padding-top: 125px;

    &::before {
      background-image: url("../img/intro-back-desktop@1x.jpg");
      height: 860px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/intro-back-desktop@2x.jpg");
      }
    }
  }

  .intro__wrapper {
    width: 393px;
    margin-right: 452px;
    margin-left: auto;
  }

  .intro__container {
    padding: 0;
  }

  .intro__title {
    line-height: 80px;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    letter-spacing: -1.1px;
    margin-bottom: 14px;
  }

  .intro__text {
    margin: 0 0 35px 0;
    text-align: left;
    width: 370px;
  }

  .intro__link {
    width: 340px;
    padding: 30px 40px;
    margin: 0;

    &::after {
      right: 38px;
    }
  }
}
