.main-nav {
      //padding: 0;
      //min-height: 100px;
  display: flex;
  align-items: flex-start;
  //flex-wrap: wrap;
  justify-content: space-between;
  //padding-left: 21px;
  //padding-right: 6px;
  padding-bottom: 33px;

  @include vp-1179 {
    //padding: 0 45px;
    padding-bottom: 25px;
  }

  @include vp-767 {
    //display: block;
    //padding: 0 15px;
    //position: relative;
    padding-top: 0;
    padding-bottom: 0;
  }
    }

.main-nav__logo {
  width: 70px;
  height: 38px;
  //margin-bottom: 18px;
  //margin-top: 15px;
  //margin-left: 10px;
  margin-right: 20px;
  display: flex;

  @include vp-1179 {
    //padding: 0 45px;
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    display: block;
    width: 42px;
    height: 22px;
    //padding: 0 15px;
    position: absolute;
    top: 20px;
    left: 15px;
  }
}

.main-nav__logo svg {
  //width: 70px;
  //height: 38px;
  fill: $color-default-alice-blue;

  @include vp-1179 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}



  .main-nav__toggle {
    display: none;

    @include vp-767 {
      display: block;
      position: absolute;
      right: 5px;
      top: 0;
      border: none;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 11;
      width: 43px;
      height: 64px;
      background-color: transparent;
    }
  }

  .main-nav .main-nav__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

.main-nav--closed .main-nav__toggle::before {
  @include vp-767 {
    content: "";
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 1px;
    background-color: $color-default-alice-blue;
    box-shadow: 0 6px 0 0 $color-default-alice-blue, 0 12px 0 0 $color-default-alice-blue;
  }
}

.main-nav--closed .main-nav__list {
  @include vp-767 {
    display: none;
  }
}

.main-nav--open {
  @include vp-767 {
    background-color: $color-prussian-blue;
    //color: $color-default-tangaroa;
    width: 100%;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    justify-content: flex-end;
    padding-top: 0;
    min-height: 568px;
  }
}

.main-nav--nojs {
  background-color: $color-prussian-blue;
  //color: $color-default-tangaroa;
  width: 100%;
  position: relative;
  justify-content: flex-end;
  min-height: auto;
}

  //.main-nav--open .main-nav__list {
  //  @include vp-1179 {
  //    position: absolute;
  //    top: 50px;
  //    right: 0;
  //    z-index: 1;
  //  }
  //}

.main-nav--open .main-nav__list,
  .main-nav--nojs .main-nav__list {
  @include vp-767 {
    display: block;
    padding: 69px 0 69px 0;
  }
  }

.main-nav--open .main-nav__list {
  @include vp-767 {
    min-height: 568px;
  }
}

.main-nav--open .main-nav__logo {
  @include vp-1179 {
    display: block;
  }
}

.main-nav--open .main-nav__logo,
.main-nav--nojs .main-nav__logo {
  @include vp-767 {
    left: 16%;
  }
  }

.main-nav--open svg,
.main-nav--nojs svg {
  fill: $color-default-tangaroa;
}

.main-nav--open .main-nav__toggle {
  @include vp-767 {
    background-size: 15px 15px;
    background-image: url("../img/svg/icon-close.svg");
    background-color: $color-default-alice-blue;
    //background-position: 24px 24px;
    right: 0;
  }
  }

.main-nav--nojs .main-nav__toggle {
  @include vp-767 {
    display: none;
  }
}


//@media (max-width: $mobile-tablet-width-only) {
//  .main-nav__toggle {
//
//  }
//
//  .main-nav--closed .main-nav__toggle::before {
//    content: "";
//    position: absolute;
//    top: 17px;
//    left: 50%;
//    transform: translateX(-50%);
//    width: 23px;
//    height: 1px;
//    background-color: $main-color;
//    box-shadow: 0 7px 0 0 $main-color, 0 13px 0 0 $main-color;
//  }
//
//  .main-nav--closed .main-nav__list {
//    display: none;
//  }
//
//  .main-nav--open .main-nav__list,
//  .main-nav--nojs .main-nav__list {
//    display: block;
//    padding: 134px 0 134px 0;
//  }
//
//  .main-nav--open .main-nav__logo {
//    display: none;
//  }
//
//  .main-nav--open .main-nav__toggle {
//    background-size: 22px 23px;
//    background-image: url("../img/menu-close.svg");
//    background-color: $main-color;
//    background-position: 14px 15px;
//  }
//
//  .main-nav--nojs .main-nav__toggle {
//    display: none;
//  }
//}
//


//@media (min-width: $tablet-width) {
//  .main-nav {
//    position: relative;
//  }
//
//  .main-nav--open .main-nav__list {
//    position: absolute;
//    top: 50px;
//    right: 0;
//    z-index: 1;
//  }
//
//  .main-nav--open .main-nav__logo {
//    display: block;
//  }
//
//  .main-nav__logo {
//    margin-left: 0;
//  }
//
//  .main-nav__toggle {
//    width: 72px;
//  }
//}
//
//@media (min-width: $mobile-tablet-width-only) {
//  .main-nav {
//    display: flex;
//    align-items: center;
//    flex-wrap: wrap;
//    justify-content: space-between;
//    padding-left: 21px;
//    padding-right: 6px;
//  }
//
//  .main-nav__toggle {
//    display: none;
//  }
//
//  .main-nav .main-nav__list {
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
//    flex-wrap: wrap;
//  }
//
//  .main-nav__logo {
//    display: flex;
//  }
//}
//
//@media (min-width: $desktop-width) {
//  .main-nav {
//    padding: 0;
//    min-height: 100px;
//  }
//
//  .main-nav__logo {
//    width: 57px;
//    height: 22px;
//  }
//
//  .main-nav__logo-image {
//    width: 57px;
//    height: 22px;
//  }
//}
