.site-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-767 {
    background-color: $color-default-alice-blue;
    width: 89%;
  }
}

.site-list li {
  @include vp-1179 {
    margin-bottom: 0;
  }
}

.site-list a {
  display: inline-block;
  vertical-align: middle;
  padding: 9px 0 9px 34px;
  background-color: initial;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: $color-default-alice-blue;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.8;
  }

  @include vp-1179 {
    font-size: 14px;
    line-height: 17px;
    padding: 0 0 0 24px;
  }

  @include vp-767 {
    color: $color-default-tangaroa;
    text-decoration: none;
    display: block;
    padding: 15px 35px 13px 25px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    position: relative;
  }
}
